* {
  padding: 0;
  margin: 0;
}

html, body {
  font-family: sarabun;
  font-size: 24px;
  scroll-behavior: smooth;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-color {
  color: #013c8c;
}

.container {
  width: 1410px;
  margin: 50px auto;
}

.text-white {
  color: white;
}

.text-head {
  font-size: 2rem;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

header .container {
  padding-top: 66px;
  margin: 0 auto;
}
header .container .header-top {
  width: 100%;
}
header .container .header-top .header-top__nav ul li {
  list-style: none;
  padding-left: 2.1rem;
}
header .container .header-top .header-top__nav ul li:first-child {
  display: none;
}
header .container .header-top .header-top__nav ul li:hover a::after {
  display: block;
  content: "";
  width: 60%;
  height: 2px;
  bottom: -2px;
  display: block;
  background-color: #c5ad3d;
  position: absolute;
  animation: color 0.2s linear;
}
@keyframes color {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}
header .container .header-top .header-top__nav ul li a {
  text-transform: uppercase;
  color: #26194e;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 700;
  position: relative;
}
header .container .header-top .header-top__nav ul li a:hover {
  color: #c5ad3d;
}
header .container .header-top .header-top__nav ul li .languages {
  color: #c5ad3d;
  position: relative;
}
header .container .header-top .header-top__nav ul li .languages::after {
  content: "";
  width: 100%;
  height: 2px;
  bottom: -2px;
  display: block;
  background-color: #c5ad3d;
  position: absolute;
}
header .container .header-top .header-top__menu {
  display: none;
}
.general_text_in_Img, #subcribe .container .subcribe-text, #slider .container .slider-text {
  text-align: center;
  color: #fff;
  margin: 0 12.5rem;
  padding: 125px 0;
}
.general_text_in_Img .text__head, #subcribe .container .subcribe-text .text__head, #slider .container .slider-text .text__head {
  font-size: 2rem;
  margin-bottom: 60px;
}
.general_text_in_Img .text__desc, #subcribe .container .subcribe-text .text__desc, #slider .container .slider-text .text__desc {
  font-size: 1rem;
}

#slider .container {
  background-image: url("../images/contact_sliderImg.jpg");
  background-size: cover;
  width: 100%;
  margin-bottom: 1rem;
}
#slider .container .sliderImg {
  width: 100%;
}
#contact-form .container .form-text {
  font-weight: 600;
  margin-bottom: 1rem;
}
#contact-form .container .form-bottom .form-bottom-info {
  width: 50%;
}
#contact-form .container .form-bottom .form-bottom-info .row {
  margin-bottom: 1.5rem;
}
#contact-form .container .form-bottom .form-bottom-info .row .city {
  font-weight: 600;
  border-bottom: 2px solid rgb(121, 114, 114);
  display: inline-block;
  margin-bottom: 20px;
}
#contact-form .container .form-bottom .form-bottom-info .row .details {
  font-size: 0.9rem;
}
#contact-form .container .form-bottom .form-bottom-form {
  width: 50%;
}
#contact-form .container .form-bottom .form-bottom-form .form__frame {
  display: flex;
  flex-direction: column;
}
#contact-form .container .form-bottom .form-bottom-form .form__frame .general_input_textare, #contact-form .container .form-bottom .form-bottom-form .form__frame textarea, #contact-form .container .form-bottom .form-bottom-form .form__frame input {
  background-color: #e6e6e6;
  padding: 20px;
  border: none;
  margin-bottom: 12px;
  font-style: italic;
}
#contact-form .container .form-bottom .form-bottom-form .form__frame button {
  padding: 20px 0;
  border: none;
  background-color: #26194e;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

#subcribe .container {
  width: 100%;
  background-image: url("../images/contact_subcribeImg.jpg");
  background-size: cover;
}
#subcribe .container .subcribeImg {
  width: 100%;
}
#subcribe .container .subcribe-text .subcribe-btn {
  margin-top: 2rem;
}
#subcribe .container .subcribe-text .subcribe-btn a {
  padding: 8px;
  background-color: #fff;
  text-decoration: none;
  color: #013c8c;
  font-weight: 600;
}

#btnToTop {
  display: none;
  padding: 0.6rem 0.7rem;
  font-size: 0.8rem;
  background-color: #3299d9;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  position: fixed;
  bottom: 90px;
  right: 20px;
  z-index: 20;
  animation: changing 0.8s infinite;
}
#btnToTop:hover {
  background-color: #3477a0;
  cursor: pointer;
}
@keyframes changing {
  from {
    transform: translate(0rem, 0.3rem);
  }
  to {
    transform: translate(0px, 0rem);
  }
}

footer .container .footer-left .footer-left__brand {
  margin-right: 20px;
}
footer .container .footer-left .footer-left__nav ul {
  list-style: none;
}
footer .container .footer-left .footer-left__nav ul li {
  padding-right: 1rem;
}
footer .container .footer-left .footer-left__nav ul li a {
  font-size: 0.8rem;
  color: #261a4e;
  text-transform: uppercase;
  text-decoration: none;
}
footer .container .footer-right p {
  color: #261a4e;
}
footer .container .footer-right a {
  padding: 8px 12px;
  background-color: #261a4e;
  margin-right: 4px;
  border-radius: 50%;
  color: #fff;
}

@media only screen and (max-width: 1450px) {
  .container {
    width: 1200px;
  }
  html, body {
    font-size: 21px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
  html, body {
    font-size: 18px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    width: 90%;
  }
  html, body {
    font-size: 16px;
  }
  .brandImg {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  html, body {
    font-size: 20px;
  }
  header .container {
    width: 100%;
    padding-top: 0rem;
  }
  header .container .header-top {
    position: fixed;
    line-height: 0.5rem;
    background-color: #77abee;
    z-index: 99;
    box-shadow: 0px 8px 22px 4px #7dafdf;
  }
  header .container .header-top .header-top__brand .brandImg {
    width: 40%;
    margin: 1rem;
  }
  header .container .header-top .header-top__nav {
    display: none;
  }
  header .container .header-top .header-top__nav ul {
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    /* align-items: center; */
    margin: 1rem auto;
    position: absolute;
    /* left: 0; */
    right: 0;
    background-color: #77abee;
    /* width: 100vw; */
    top: -34%;
    height: 100vh;
    animation: show 0.2s linear;
    box-shadow: 0px 8px 22px 4px #566069;
  }
  @keyframes show {
    from {
      transform: translate(100%, 0);
    }
    to {
      transform: translate(0);
    }
  }
  header .container .header-top .header-top__nav ul li {
    margin: 0 auto;
    padding: 1.5rem 3rem;
  }
  header .container .header-top .header-top__nav ul li:first-child {
    transform: translate(-70%, -25%);
  }
  header .container .header-top .header-top__nav ul li:first-child a::after {
    display: none;
  }
  header .container .header-top .header-top__nav ul li:first-child i {
    font-size: 2rem;
  }
  header .container .header-top .header-top__nav ul li:nth-child(2) {
    padding-top: 0;
  }
  header .container .header-top .header-top__menu {
    display: block;
  }
  header .container .header-top .header-top__menu .menu-area {
    padding: 0 1.5rem;
    font-size: 2rem;
  }
  header .container .header-top .header-top__menu .menu-area-exit {
    padding: 0 1.5rem;
    font-size: 2rem;
  }
  header .container .header-bottom {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
  }
  #slider .container .slider-text {
    margin: 0 2rem;
  }
  #contact-form .container .form-bottom {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  #contact-form .container .form-bottom .form-bottom-info {
    width: 100%;
    text-align: left;
  }
  #contact-form .container .form-bottom .form-bottom-form {
    width: 100%;
    margin-bottom: 2rem;
  }
  #subcribe .container {
    margin-bottom: 2rem;
  }
  #subcribe .container .subcribe-text {
    margin: 0 2rem;
  }
  footer .container .footer-left .footer-left__nav {
    display: none;
  }
  footer .container .footer-right {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 576px) {
  html, body {
    font-size: 22px;
  }
}

/*# sourceMappingURL=contact.css.map */
